{% extends "base.html" %}
{% load static %}
{% block content %}
{% spaceless %}
<div class="article-navbar">
    <ol class="breadcrumb">
        <li><a href="/">Головна</a></li>
        <li><a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a></li>
        <li><a href="{% url 'articles-list' %}">Всі публікації</a></li>
    </ol>
    <div class="article-content">
        <h3>
            {{ item.title }}
        </h3>
        <h5 class="pub-date">
            {{ item.pub_date|date:"d E Y"|safe|linebreaks }}
        </h5>
    </div>
    <div class="description">
        {{ item.description|escape|safe }}
        {% if item.images.all %}
        {% include 'fotorama.html' with images=images %}
        {% endif %}
    </div>
    <div class='clearfix'></div>
</div>
{% endspaceless %}
{% endblock %}